$primary-color: #ffd700;
@import 'loaders.css/src/animations/ball-grid-beat.scss';

.loader-hidden {
    display:none;
}

.loader-active {
    display:block;
    color: #ffd700;
}


//////////////////////////////////////////////////////
///                 About Website                  ///
//////////////////////////////////////////////////////

// First Row of Icon Boxes 

.boxA, .boxB, .boxC, .boxD {
    position: absolute;
    border-radius: 1rem 1.5rem 1.25rem;
    width: 150px;
    height: 150px;
    border:  1px solid #ccc;
    background: #444; 
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow; 
    margin-top: -5%;
    margin-left: 7%;
}
.boxB {
    margin-left: 57%;
}
.boxC {
    margin-left: 107%;
}
.boxD {
    margin-left: 157%;
}

// Second Row of Descriptions 

.boxE, .boxF, .boxG, .boxH {
    position: absolute;
    width: 250px;
    height: 70px;
    text-align: center;
    font-size: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 22%;
}
.boxF {
    margin-left: 50%;
}
.boxG {
    margin-left: 100%;
}
.boxH {
    margin-left: 150%;
}

//////////////////////////////////////////////////////

// Third row of Icon Boxes

.box1, .box2, .box3, .box4 {
    position: absolute;
    border-radius: 1rem 1.5rem 1.25rem;
    width: 150px;
    height: 150px;
    border:  1px solid #ccc;
    background: #444; 
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow; 
    margin-top: 45%;
    margin-left: 7%;
}
.box2 {
    margin-left: 57%;
}
.box3 {
    margin-left: 107%;
}
.box4 {
    margin-left: 157%;
}

// Fourth row of descriptions
.box5, .box6, .box7, .box8 {
    position: absolute;
    width: 250px;
    height: 70px;
    text-align: center;
    font-size: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 72%;
}
.box6 {
    margin-left: 50%;
}
.box7 {
    margin-left: 100%;
}
.box8 {
    margin-left: 150%;
}

//////////////////////////////////////////////////////
///                 About Website                  ///
//////////////////////////////////////////////////////


.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border:  1px solid #ccc;
        background: rgb(51, 55, 58);
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
    }

    .face1 {
        transform: translateZ(100px);
    }
    .face2 {
        transform: rotateY(90deg) translateZ(100px);
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(100px);
    }
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}

@media screen and (max-width: 1200px) {
    .stage-cube-cont {
        position: initial;
        width: 100%;
        height: 0%;
        overflow: visible;
    }
    
}